@import "vars";
@import "resets";
@import "text_styling";
@import "utility";
@import "nav";

body {
  background-color: $white;
  color: $black;
  overflow: overlay;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::selection {
  background-color: darken($light-blue, 10%);
  color: $white;
}

::-webkit-scrollbar {
  width: 10px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: darken($blue, 25%);
  mix-blend-mode: difference;
  padding: 5px;
}

.content {
  width: $content-width;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  text-align: center;
  background-color: lighten($blue, 20%);
}

article {
  padding: 2.5rem 0;

  .content a.btn {
    margin-top: 1.5rem !important;
  }
}

.articles-container {
  display: flex;
  flex-direction: column;

  article.light-bg {
    color: $black;
    background-color: $white;
  }

  article.dark-bg {
    color: $white;
    background-color: $black;
  }
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: auto;
  background-color: lighten($blue, 20%);
  text-align: center;
}
