@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:wght@400..900&display=swap");

$serif: "Playfair Display", serif;
$sans-serif: "Manrope", sans-serif;

$heading-line-height: 1.2em;
$para-line-height: 1.45em;

h1 {
  font-family: $serif;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

h2 {
  font-family: $serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

h3 {
  font-family: $serif;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

h4 {
  font-family: $serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

h5 {
  font-family: $serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

h6 {
  font-family: $serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0.25em 0;
}

.super-title {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.5;
  font-size: 0.5rem;
  letter-spacing: 0.25em;
}

p {
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: $para-line-height;
  margin: 0.5em 0;
}

a {
  color: $blue;
  font-weight: 550;
  transition: font-weight 0.25s ease;

  &:hover {
    font-weight: 575;
  }
}

a.btn {
  display: block;
  width: fit-content;
  font-family: $sans-serif;
  font-weight: 650;
  text-decoration: none;
  padding: 6px 16px;
  transition: all 0.25s ease;
  color: $white;
  background-color: $blue;
  text-transform: uppercase;
  margin: 0.15em 0;

  &:hover,
  &:focus {
    font-weight: 800;
  }

  &.secondary {
    background: none;
    box-shadow: 0 0 0 3px inset $blue;
    color: $blue;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 18px inset $blue;
      color: $white;
    }
  }

  &.unavailable {
    background: none;
    box-shadow: 0 0 0 3px inset $error;
    color: $error;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 18px inset $error;
      color: $white;
    }
  }
}
