@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300..900&family=Poppins:wght@300;400;500;600;700&display=swap");

h1 {
  font-size: 2.75rem;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
}

h4 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

h5 {
  font-size: 1.75rem;
  font-family: "Playfair Display", serif;
}

h6 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.25em;
}
