@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:wght@400..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1.2em;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2em;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2em;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2em;
}

h5 {
  font-family: "Playfair Display", serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2em;
}

h6 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2em;
}

.super-title {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0.5;
  font-size: 0.5rem;
  letter-spacing: 0.25em;
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45em;
  margin: 0.15em 0;
}

a {
  color: #6c57ec;
  font-weight: 550;
  transition: font-weight 0.25s ease;
}
a:hover {
  font-weight: 575;
}

a.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Manrope", sans-serif;
  font-weight: 650;
  text-decoration: none;
  padding: 6px 16px;
  transition: all 0.25s ease;
  color: #f8f8fe;
  background-color: #6c57ec;
  text-transform: uppercase;
  margin: 0.15em 0;
}
a.btn:hover, a.btn:focus {
  font-weight: 800;
}
a.btn.secondary {
  background: none;
  box-shadow: 0 0 0 3px inset #6c57ec;
  color: #6c57ec;
}
a.btn.secondary:hover, a.btn.secondary:focus {
  box-shadow: 0 0 0 18px inset #6c57ec;
  color: #f8f8fe;
}
a.btn.unavailable {
  background: none;
  box-shadow: 0 0 0 3px inset #540808;
  color: #540808;
}
a.btn.unavailable:hover, a.btn.unavailable:focus {
  box-shadow: 0 0 0 18px inset #540808;
  color: #f8f8fe;
}

.horizontal-row {
  display: flex;
  gap: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 0;
}

.vertical-columns {
  display: flex;
  gap: 5px;
}
.vertical-columns * {
  flex: 1;
}
.vertical-columns.with-background {
  gap: 10px;
}
.vertical-columns.with-background * {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(108, 87, 236, 0.1);
}

@media (max-width: 768px) {
  .vertical-columns {
    flex-direction: column;
  }
}
.navbar {
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #c7c1f4;
  height: 48px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: clamp(25rem, 75%, 60rem);
  height: 100%;
  margin: 0 auto;
  list-style: none;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #15141d;
  transition: font-weight 0.25s ease;
}
.nav-link:hover {
  font-weight: 700;
}
.nav-link.active {
  font-weight: 800;
  color: #6c57ec;
}

body {
  background-color: #f8f8fe;
  color: #15141d;
}

::-moz-selection {
  background-color: #c7c1f4;
}

::selection {
  background-color: #c7c1f4;
}

.content {
  width: clamp(25rem, 75%, 60rem);
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  margin-bottom: 0.75rem;
  text-align: center;
  background-color: #c7c1f4;
}/*# sourceMappingURL=styles.css.map */